<div class="conatiner outer">
  <h2>
    We are Giv Hub!
  </h2>
  <p>
    We are a charity hub that gathers information on charities for our users. Users can subscribe to a charity and receieve updates on that chosen charity. 
  </p>
  <p>
    We are a team of five people: Steve, Hans, Richard, Kevin, and Douglas. We are also known as,
  </p>
</div>


<div class="conatiner outer">
  <div class="conatiner inner">
    <strong>
      <p id="teamName">
        SHRKD
      </p>
    </strong>
    <img id="logo" class="ui small image" src="../../assets/shrkd_color.svg" alt="SHRKD Logo">
  </div>
  <hr>
  <p>
    Thank you to OrgHunter, New York Times and Okta
  </p>
  <div class="conatiner inner">
    <img id="logo" class="ui mini image" src="//logo.clearbit.com/orghunter.com/" alt="Orghunter Logo">
    &nbsp;
    &nbsp;
    <img id="logo" class="ui mini image" src="//logo.clearbit.com/nytimes.com/" alt="NYT Logo">
    &nbsp;
    &nbsp;
    <img id="logo" class="ui mini image" src="//logo.clearbit.com/okta.com/" alt="Okta Logo">
  </div>
</div>
