<h2>
  We are Giv Hub!
</h2>
<p>
  We are a charity hub that gathers information on charities for our users. Users can subscribe to a charity and receieve updates on that chosen charity. 
</p>
<p>
  We are a team of five people: Steve, Hans, Richard, Kevin, and Douglas. We are also known as,
</p>
<div class="conatiner outer">
  <div class="conatiner inner">
    <b>
      <p id="teamName">
        SHRKD
      </p>
    </b>
    <img id="logo" class="ui small image" src="../../assets/shrkd_color.svg">
  </div>
</div>
