<nav id="navbar" class="navbar navbar-inverse">
  <div class="container-fluid inverted outer">

    <div class="navbar-header">
      <a id="logoLink" routerLink="/" class="navbar-header">
        <img id="logo" class="mini image" src="/assets/shrkd_color.svg" alt="GivHub Logo">
        &nbsp;
        Giv Hub
      </a>
    </div>
    <ul class="nav navbar-nav navbar-expand">
      <li><a id="profile-button" class="" routerLink="/about-us">About Us</a></li>
      <li><a id="help-button" class="" (click)="openHelp()">Help</a></li>
      <li><a id="search-button" class="" *ngIf="isAuthenticated" routerLink="/searchCharity">Search</a></li>
      <li><a id="search-button" class="" *ngIf="isAuthenticated" routerLink="/leaderboard">Leaderboard</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-expand navbar-right">
      <li><a id="messages-button" class="item" *ngIf="isAuthenticated" routerLink="/userCharities"><i aria-hidden="true" class=""></i>Your Charities</a></li>
      <li><a id="profile-button" class="item" *ngIf="isAuthenticated" routerLink="/profile/account">Profile</a></li>
      <li><a id="logout-button" class="item" *ngIf="isAuthenticated" (click)="logout()">Logout</a></li>
      <li><a class="item" *ngIf="!isAuthenticated" (click)="login()">Login</a></li>
    </ul>    
  </div>


        
        
        
      

    <!-- <a>
      <form (ngSubmit)= "onSubmit()" class="form-inline md-form mr-auto mb-4">  
        <input id='searchTerm'class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search Charities" [(ngModel)]="searchTerm"
        name="searchTerm" #name="ngModel">
        <button mdbBtn size="sm" color="elegant" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
      </form>
    </a> -->
  
</nav>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeHelp()">&times;</a>
  <p>Narrow down your philantropic priorities to realistically fit your resources and donation goals.  
    Understand how your donations can best contribute to the causes that are important to you.  A national 
    organization may be better suited for conducting research, while a local group can serve your community.  
    Through GivHub, it is possible to discover charities by category.</p>
  <p>Once you have found a charity, research the organization before committing your support.  Ensure that the 
    charity is a tax exempt public charity [US Internal Revenue Code section 501(c)(2)].  You can request the 
    organization's EIN in order to confirm its status with the IRS.  Review the charity's finances to assess its 
    efficiency in accomplishing their mission.  The GivHub team is working to create features that will allow 
    users to better assess financial history and records.</p>
  <p>Check an organization's mission statement.  What have been their significant accomplishments?  What are their 
    current goals, and what, if any, challenges are they facing?  When you trust a charity, you can comfortably 
    contribute unrestricted donations; allowing the charity discretion to determine how best to provide its services.  
    Charities are dependent on long-term support, so follow up on your investments and ensure that your goals are 
    being satisfied by the organization.</p>
</div>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div class="ui container" id="body-main"style="margin-top: 1em;">
  <router-outlet></router-outlet>
</div>
