<h1 class="ui header">
    Donation History
  </h1>
  <div>
  <button routerLink="/profile/donation-history/donation-new">Add Donation</button>
  <router-outlet></router-outlet> 
  </div>
  <table class="ui table">
    <thead>
      <tr>
        <th>Charity</th>
        <th>Contribution</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let donation of userDons;">
          <td>{{donation.charityId}}</td>
          <td>{{donation.amount}}</td>
          
      </tr>
  </tbody>
  </table>