<p>discover works!</p>

<!-- <ul class="nav">
  <li class="nav-item">
    <button mat-raised-button color="primary">Primary</button>
  </li>
  <br>
  <li class="nav-item">
    <button mat-raised-button color="primary">Primary</button>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="CharitiesByCategory(C)" href="#">Enviorment</a>
  </li>
</ul> -->
<div class="button-row">
    <button mat-raised-button color="primary" (click)="$event" name= "A" id="A">Art</button>
    <button mat-raised-button color="primary">Education</button>
    <button mat-raised-button color="primary">Enviorment</button>
</div>

<div class="container transparent">
    <table class="table">
        <thead>
            <th>Charity name</th>
            <th>Category</th>
            <th>Link</th>
            <th>EIN</th>
        </thead>
        <tbody>
            <tr *ngFor="let charityapi of charitiesapi;">
                <td>{{charityapi.charityName}}</td>
                <td>{{charityapi.category}}</td>
                <td><a href="{{charityapi.url}}">URL</a></td>
                <td>{{charityapi.ein}}</td>
            </tr>
        </tbody>
    </table>
</div>