<form (ngSubmit)="onSubmit($event)" class="form-inline md-form mr-auto mb-4">
    <input class="form-control mr-sm-2" type="text" name = "searchTerm" id = "searchTerm" placeholder="Search" aria-label="Search">
    <button mdbBtn size="sm" color="elegant" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
</form>

<div class="container transparent">
    <table class="table">
        <thead>
            <th>Charity name</th>
            <!-- <th>Mission statement</th> -->
            <th>Category</th>
            <th>Website</th>
            <th>Donate</th>
            <th>EIN</th>
        </thead>
        <tbody>
            <tr *ngFor="let charityapi of charitiesapi;">
                <td>{{charityapi.charityName}}</td>
                <td>{{charityapi.category}}</td>
                <td><a href="{{charityapi.url}}">Org</a></td>
                <td><a href="{{charityapi.donationUrl}}">Donate</a>
                <td>{{charityapi.ein}}</td>
            </tr>
        </tbody>
    </table>
</div>