<div *ngIf="error" class="error">
  {{ error }}
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Articles -->
    <div class="col text-center">
      <img id="logo" class="mini image" src="//logo.clearbit.com/nytimes.com/" alt="NYT Logo">
      <h1>Recent News: </h1>
      <hr>

      <div *ngFor="let nytapi of nytapiDocs;" class="container">
        <h2>{{nytapi.headline.main}}</h2>
        <p>{{nytapi.lead_paragraph}}</p>
        <a href="{{nytapi.web_url}}">Link to article.</a>
        <p>{{nytapi.pub_date}}</p>
      </div>
    </div>
    <!-- Trending charities -->
    <div class="col my-sidebar">
      
      <h3>Trending Charities</h3>
      <!-- <div *ngFor="let number of [0,1,2,3,4]" class="container outer"></div> -->
      <div *ngFor="let charity of charities" class="container outer">
        <h4>{{charity.name}}</h4>
        <div class="container inner">
          <img id="logo" class="mini image" src="{{charity.website}}" alt="Their Logo" onerror="this.onerror=null;this.src='../../assets/defaulthand.svg';">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <h1 class="ui header">PKCE Flow w/ Okta Hosted Login Page</h1> -->
<!-- <div *ngIf="!isAuthenticated">

</div> -->

