.error {
  color: red;
}
div{
  padding-bottom: 1.5em;
  text-align: center;
}
.my-sidebar {
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
} 

@media (max-width: 690px) {
.my-sidebar {
  display: none; 
} 
}
.outer{
  text-align: center;
}
.inner{
  display: inline-flex;
  width: auto;
}
#logo{
  width: 7em;
}