<div *ngIf="error" class="error">
  {{ error }}
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Articles -->
    <div class="col text-center">
      <h1>Articles</h1>
      <div *ngFor="let nytapi of nytsapi;" class="container">
        <h2>{{nytapi.docs.headline.main}}</h2>
        <p>{{nytapi.docs.lead_paragraph}}</p>
        <p>{{nytapi.docs.web_url}}</p>
        <p>{{nytapi.docs.pub_date}}</p>
      </div>
    </div>
    <!-- Trending charities -->
    <div class="col my-sidebar">
      <h3>Trending Charities</h3>
      <div *ngFor="let number of [0,1,2,3,4]" class="container outer">
        <h4>Charity Name</h4>
        <div class="container inner">
          <img id="logo" class="ui mini image" src="../../assets/shrkd_color.svg">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <h1 class="ui header">PKCE Flow w/ Okta Hosted Login Page</h1> -->
<!-- <div *ngIf="!isAuthenticated">

</div> -->

