<div class="container transparent">
    <table class="table" summary="Displays which charities the user is subscribed to">
      <thead>
          <th scope="col">Charity name</th>
          <th scope="col">Category</th>
          <th scope="col">Website</th>
          <th scope="col">Donate</th>
          <th scope="col">EIN</th>
      </thead>
      <tbody>
          <tr [id]="charity.eid" *ngFor="let charity of charities;">
              <td>{{charity.name}}</td>
              <td>{{charity.category}}</td>
              <td><a href="{{charity.website}}">Org</a></td>
              <!--   -->
              <td>
                <button [routerLink]="['/profile/donation-history/donation-new',{'charityein': charity.eid}]" class="btn btn-success" type="submit">Donate</button>
              </td>
            <!-- <a [routerLink]="['/profile/donation-history/donation-new&charityein',charity.eid]" routerLinkActive="router-link-active">Donate</a> -->
              <td>{{charity.eid}}</td>
              <td><button class="btn btn-danger" (click)="unSubscribe(charity.eid,charity.name)">Unsubscribe</button ></td>
          </tr>
      </tbody>
  </table>
</div>