<div class="container transparent">
    <table class="ui table" summary="Search Phrases that were used">
        <thead>
            <th scope="col">Search Phrase</th>
        </thead>
        <tbody>
            <tr [id] = "searchHistory.phrase"*ngFor="let searchHistory of usersh;">
                <td>{{searchHistory.phrase}}</td>
                <td><button class="btn btn-danger" *ngIf="!anotherUser" (click)="removeResult(searchHistory.phrase)">Remove</button ></td>
            </tr>
        </tbody>
    </table>
</div>
